/*****Sort Bar*******/
.sort-bar{
  display: flex;
  padding: 0px !important;
  justify-content: space-around;
  align-content: center;
  align-items: center;  
}

.margin-p {
  margin: 0px !important;
}

.button {
  border-radius: .6em;
  height: 2.3em;
  width: 8em;
  border: none;  
  line-height: 2.2em;
  text-align: center;
  background: #d4cbcb;
}

.button:hover{
  background-color: #0faab2;
  color: #ffffff;
}

.button-active {
  border-radius: .6em;
  height: 2.3em;
  width: 8em;
  border: none;
  line-height: 2.2em;
  text-align: center;
  background: #0faab2;
  color: #ffffff;
}

/*****Filter Bar*******/
.filter-bar{
  display: flex;
  padding: 0px !important;
  justify-content: center;
  align-content: center;
  align-items: center;  
}

.filter select {
  border-radius: .6em;
  height: 2.3em;
  width: 8em;
  border: none; 
  line-height: 2.2em; 
  text-align: center;
  background: #d4cbcb;  
}

.filter select:hover {
  background-color: #0faab2 ;
  color: #ffffff;
}

.select-margin {
  margin: .6em;
}


